*{
    margin: 0;
    padding: 0;
}
#main{
    height: fit-content;
}
#info_main{
    height: 684px;
    width: 55%;
    position: relative;
    margin: 0 auto;
    background-color: #595757;
}
#person_info{
    height: 300px;
    width: 80%;
    position: relative;
    top: 20px;
    margin: 0 auto;
    background-color: #cccccc;
}
#info_item{
    height: 200px;
    width: 80%;
    /*background-color: #595757;*/
    position: relative;
    top: 30px;
    margin: 0 auto;
}
#info_item > p{
    width: 300px;
    margin-top: 20px;
}

#security{
    height: 300px;
    width: 80%;
    position: relative;
    top: 40px;
    margin: 0 auto;
    background-color: #cccccc;
}

#security > div > div{
    width:92%;
    height:40px;
    margin: 0 auto;
    /*background-color: #9a2423;*/
}
#security > div > div >p{
    width: 322px;
    float: left;
    position: relative;
    left: 10px;
    color: #454545;
}
#security > div > div >span{
    width: 155px;
    float: left;
    position: relative;
    left: 10px;
}