*{
    margin: 0;
    padding: 0;
}
#main{
    height:fit-content;
}
#reserve{
    width: 80%;
    height: 900px;
    background-image: url("/static/img/myreserve.jpg");
    margin: 0 auto;

}
#reserve_item{
    position: relative;
    top: 12%;
    width: 80%;
    height: 60%;
    background-color: rgba(0,0,0,0.6);
    margin: 0 auto;
}

#my_reserve,#check_item{
    border-collapse: collapse;
    width: 90%;
    background-color: #d4d4d4;
    margin: 0 auto;
    position: relative;
    top: 10%;
}
th{
    border-bottom: 1px solid #454545;
    text-align: center;
}
#my_reserve td,#check_item td{
    line-height: 2em;
    min-width: 24px;
    border-bottom: 1px solid #454545;
    padding: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    vertical-align: top;
    text-align: center;
    font-size: 1.2em;
}