*{
    margin: 0;
    padding: 0;
}

#main{
    height: 900px;
}

#reserve{
    width: 80%;
    height: 900px;
    margin:  0 auto;
    background-color: #595757;
}
#re_item{
    width: 80%;
    height: 80%;
    margin : 0 auto;
    background-color: #007fff;
}
table.reference{
    border-collapse: collapse;
    width: 80%;
    background-color: #d4d4d4;
    margin: 0 auto;
    position: relative;
    top: 30px;
}
table.reference td {
    line-height: 2em;
    min-width: 24px;
    border: 1px solid #d4d4d4;
    padding: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    vertical-align: top;
    text-align: center;
    font-size: 1.2em;
}
#pay{
    width: 100px;
    height: 40px;

    position: relative;
    left: 923px;
    top: 44px;

}