#main{
    height: 700px;
}
#loginbox{
        position: relative;
		margin: auto;
		background-color: white;
		width: 660px;
		height: 400px;
		top: 1%;
}
#image #qr{

	background: white;
	float: left;
		width: 58%;
		height: 400px;
		top: 1%;
}
.login{

		background-color: white;
        margin-right: 2px;
        float: right;
		width: 40%;
		height: 100%;
		top: 1%;
	}
	.username{
		width: 100%;
		height: 10%;
		position: relative;
		top: 20px;
		margin: auto;
	}
	.password{
		width: 100%;
		height: 10%;
		position: relative;
		top: 40px;
		margin: auto;
	}
	#boxinput{
		float: left;
		width: 99%;
		height:80%;
        font-size:1em ;
        text-align:left;
        /*box-shadow: inset 0px 2px 1px 2px rgba(0,0,0,.2);*/
	}
	 #boxp{
	 	float: left;
	 	margin-top: 2%;
	 }
	 #button{
	 	position: relative;
		top: 60px;
        border-radius: 2px;
		margin: auto;
         height:10%;
		width: 100%;
	 }
	 #sub{
         border: 0px;
        background-color: #ff8800;
		height:100%;
		width:100%;
         font-size: 1em;
	 }

	form{
		height: 100%;
	}
	.login a{
		position: absolute;
		bottom: 20px;
		right: 20px;
	}