{% extends "titleblock.html" %}

{% block content %}{% load static %}
  <script type="text/javascript" src="static/js/jquery-2.1.0.js"></script>
  <script type="text/javascript" src="static/js/jquery-ui.js"></script>
  <script type="text/javascript" src="static/js/bookpage.js"></script>
  <script type="text/javascript" src="static/js/book_ajax.js"></script>
  <script type="text/javascript" src="static/js/csrf.js"></script>
  <div id="book_main">

  <div id="find">
     <input id="in" placeholder="入住"/><input id="out" placeholder="退房"/><input id="search" value="搜索" type="button"/>
  </div>
  <div id="kind">
     <h3>单人：</h3>
     <div><input id="siglelow" type="checkbox"   style="float: left"/><p>标间</p></div>
     <div><input id="siglemid" type="checkbox"   style="float: left"/><p>大床房</p></div>
     <div><input id="siglehigh" type="checkbox"  style="float: left"/><p>豪华</p></div>
          <h3>双人：</h3>
     <div><input id="doublelow" type="checkbox"  style="float: left"/><p>标间</p></div>
     <div><input id="doublemid" type="checkbox"  style="float: left"/><p>大床房</p></div>
     <div><input id="doublehigh" type="checkbox" style="float: left"/><p>豪华</p></div>
  </div>


  <div id="result">
    <div id="room_num">
        <h3>剩余量：</h3>
        <div><p>单人标间：</p><span id="siglelow_num"></span><input type="button" value="加入购物车"/></div>
        <div><p>单人大床房：</p><span id="siglemid_num"></span><input type="button" value="加入购物车"/></div>
        <div><p>单人豪华房：</p><span id="siglehigh_num"></span><input type="button" value="加入购物车"/></div>
        <div><p>双人标间：</p><span id="doublelow_num"></span><input type="button" value="加入购物车"/></div>
        <div><p>双人大床房：</p><span id="doublemid_num"></span><input type="button" value="加入购物车"/></div>
        <div><p>双人豪华房：</p><span id="doublehigh_num"></span><input type="button" value="加入购物车"/></div>

    </div>
    <img id="cartflag" src="static/img/cart.png"/><img id="cart" src="static/img/cart.png"/><input id="submit" value="提交订单" type="button"/>
      <div id="slide">
        <h3>购物车</h3>
        <div><p>单人标间：</p><span id="sl"></span></div>
        <div><p>单人大床房：</p><span id="sm"></span></div>
        <div><p>单人豪华房：</p><span id="sh"></span></div>
        <div><p>双人标间：</p><span id="dl"></span></div>
        <div><p>双人大床房：</p><span id="dm"></span></div>
        <div><p>双人豪华房：</p><span id="dh"></span></div>
      </div>
  </div>


</div>
{% csrf_token %}
<link href="static/css/book.css" type="text/css" rel="stylesheet" />
<link href="static/css/jquery-ui.css" type="text/css" rel="stylesheet" />
{%endblock%}