{% extends "titleblock.html" %}

{% block content %}{% load static %}
  <script type="text/javascript" src="static/js/jquery-2.1.0.js"></script>
  <script type="text/javascript" src="static/js/jquery-ui.js"></script>
  <script type="text/javascript"></script>
<div id="reserve">
    <div id="reserve_item">
        <table id="my_reserve">
                <tbody>
                    <tr><th>订单号</th><th>订单日期</th><th>订单价格</th><th>订购数量</th></tr>
                    {% for item in book_info %}
                        <tr><td>{{item.book_id}}</td><td> {{item.book_time}}</td><td>{{item.book_price}}</td><td>{{ item.book_num}}</td></tr>
                    {% endfor %}

                </tbody>
            </table>
    </div>
</div>
<link href="static/css/myreserve.css" type="text/css" rel="stylesheet" />
<link href="static/css/jquery-ui.css" type="text/css" rel="stylesheet" />
{%endblock%}